@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

body {
    font-family: "Forum", serif;
    font-weight: 0;
    color:#2E0028;
}

.container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

img {
    max-width: 25%;
    max-height: 15%;
    float: right;
}

