@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    background: url("IMG/r-bkg.png") no-repeat center center/cover;
    font-family: "Forum", serif;
    font-weight: 0;
    color:#2E0028;
}

.n-container a {
    padding-top: 100px;
    display: inline-block;
    margin-right: 100px;
    text-decoration: none;
    color: #2E0028;
}

.n-container a:hover {
    text-decoration: underline;
}

nav {
    float: right;
}

.logo img {
    margin-top: 50px;
    margin-left: 50px;
    width: 20%;
    height: 20%;
}


.title-container {
    padding-top: 100px;
    font-size: 50px;
    text-align: center;

}

.title-bio {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #656565;
    text-align: center;
}

hr {
    width: 10%;
    border-color: #2E0028;
}

.web-container {
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin: 80px;
    width: 500px;
}

.web-container .description {
    padding: 10px; 
    text-align: center;
}

.web-container:hover {
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.web-container img {
    width: 100%;
    height: auto;
}



.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto; 
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    width: auto; 
    height: 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem; 
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}


.hotline-container {
    padding: 2rem;
    display: inline-block;
    border: none;
    border-radius: 5px;
    margin: 80px;
    width: 500px;
}

.hotline-container:hover {
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}





